SESSION_SECRET="your-session-secret-key-here"
FIREBASE_API_KEY="your-firebase-api-key"
FIREBASE_APP_ID="your-firebase-app-id"
FIREBASE_PROJECT_ID="your-firebase-project-id"
OLLAMA_URL="your-ngrok-url"
GROQ_API_KEY="your-GROQ-api-ke"
